<section class="sessions-show">

  <header class="page-header">
    <h1>
      Contact Us
    </h1>
  </header>
  <div class="container">
    <div class="row">
    <div class="col-xs-6">
    <%=form_for:contacts, url: '/contactus' do |f|%>
        <%= f.text_field :name,  class: "form-control", placeholder: "Enter your name", required: true%>
        <br><br>
        <%= f.text_field :email ,  class: "form-control",placeholder: "Enter your email", required:true%>
        <br><br>
        <%= f.text_field :message,  class: "form-control",placeholder: "Enter your message", required:true %>
        <br><br>
        <%= f.submit "Save", class: "btn btn-primary"  %>
    <%end%>
    </div>
    </div>
</div>
</section>
