<div class="container">
    <div class="navbar-header">
        <div class="row">
         #   <%= link_to 'Home', :root%>
            <%= link_to 'Login', '/login' %>
            <%= link_to 'Register', '/register'%>
            <%= link_to 'Cart', '/carts'%>
            <%= link_to 'Contact Us', '/contactus'%>
        </div>
    </div
</div> 

